body {
  background-color: #666666;
  font-family: "Indie Flower";
  padding-top: 40px;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

p {
  margin-top: 15px;
  font-size: 1.3rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 40px;
}

ul li {
  list-style: none;
}

.postit {
  width: 250px;
  min-height: 190px;
  background-image: linear-gradient(to bottom, transparent 70%, #00000052);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 4px 13px -2px #000000;
}

.postit-yellow {
  background-color: #f9fac8;
}

.postit-palegreen {
  background-color: #c8f8ca;
}

.postit-lilac {
  background-color: #c7c7f5;
}
