body {
  background-color: #666666;
  font-family: "Indie Flower";
  padding-top: 40px;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

p {
  margin-top: 15px;
  font-size: 1.3rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 40px;
}

ul li {
  list-style: none;
}

.postit {
  width: 250px;
  min-height: 190px;
  background-image: linear-gradient(to bottom, transparent 70%, #00000052);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 4px 13px -2px #000000;
}

.postit:hover {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  z-index: 5;
  transition: width 2s, height 4s;
}

.postit-yellow {
  background-color: #f9fac8;
  transform: rotate(-3deg);
}

.postit-palegreen {
  background-color: #c8f8ca;
  transform: rotate(3deg);
}

.postit-lilac {
  background-color: #c7c7f5;
  transform: rotate(-8deg);
}

#task4 {
  transform: rotate(12deg);
}

#task4:hover {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  z-index: 5;
}
